.description {
    align-items: flex-end;
    background: linear-gradient(0deg, rgba(0,0, 0,0.58) 0%, rgba(255,255,255,0) 60%);
    bottom: 0;
    color: #fff;
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    padding: 300px 20px 20px;
    position: absolute;
    width: 100%;
    z-index: 0;
    }

.album {
    animation: rotate 4s infinite linear;
    background: url('/assets/album.svg');
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.albumImage {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    overflow: hidden; /* cualquier contenido que exceda los limites(ancho o alto) de su contenedor sera recortado y ocultado */
    object-fit: cover; /* la imagen se redimensiona para llenar completamente su contenedor */
}

.author {
    font-size:17px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;

}

.text {
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 15px;
    color: #fff;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}