.video {
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.wrapper {
    position: relative;
}

.player {
    width: 62px;
    height: 62px;
    background-image: url(/assets/player.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    position: absolute;
    inset:0;
    margin: auto;
    border:0;
}

.hidden {
    opacity: 0;
}

.actions {
    position: absolute;
    bottom: 120px;
    right: 8px;
    z-index: 1;
}

.action {
  color: #fff;
  background: transparent;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
  text-align: center;
  align-items: center;
}

