.App {
  background: #000;
  height: 100vh;
  display: grid;
  place-content: center;
  overflow: hidden;

}
main {
  aspect-ratio: 9/16;
  width: 100vh;
  max-width: 375px;
  border-radius: 3px;
  display: block;
  overflow-y: scroll;
}
